<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2 class="text-center">Upload your Receipt</h2>

    <img id="myImage" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <button class="button" ng-click="takePicture()">Take Picture</button>
    <p ng-show="imgURI !== undefined">{{imgURI}}</p>


    <form class="form" ng-submit="cc.getPic()">
      <div>

      </div>


    <div>
      <input type="submit" class="btn btn-default" value="Upload Receipt">
    </div>
  </form>

  <div class="picContainer text-center">
    <div class="receiptContent">
      <img class="receiptImg" ng-src="https://farm3.staticflickr.com/2711/4107907629_d8223e930d.jpg" class="receipt">
      <span ng-style="{'position': 'absolute', 'left':{{word.Left}}+'px', 'top': {{word.Top}}+'px', 'text-align': 'center'}"ng-repeat="word in cc.singleWords">{{word.WordText}}</span>
  </div>
</div>


  </ion-content>
</ion-view>
