<ion-view view-title="Users">
  <ion-content>
    <ion-list>
      <ion-item class="removePadding" ng-repeat="user in users" type="item-text-wrap">

          <input class="text-center username" ng-model="user.name" placeholder="name">
        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
    <ion-list>
      <button class="button button-full button-positive" ng-click="uc.addUser()">
        Add Eater
      </button>
      <button ui-sref="tab.camera" ng-click="uc.checkUsers()" class="button button-full button-energized">Continue</button>
      </button>
    </ion-list>
  </ion-content>
</ion-view>
