<ion-view view-title="Total">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap">
        <ul class="list">
          <li class="padding-left listFont">{{user.name}}: <span>${{user.owes | number:2}}</span></li>
        </ul>
      </ion-item>
      <ion-item>
        <h1 class="subtotal">Total: ${{tax + subtotal + ((tax+subtotal)*tip) | number:2}}</h1>
      </ion-item>


    </ion-list>
    <button class="button button-full button-positive" ng-click="reset()">
      New Bill
    </button>
  </ion-content>
</ion-view>
